<div class="mdc-grid-list">
          <ul class="mdc-grid-list__tiles">
            <li class="mdc-grid-tile">
              <div class="mdc-grid-tile__primary">
                <a href="#" data-featherlight="assets/images/structure/screenshot1.jpg"><img class="mdc-grid-tile__primary-content" src="assets/images/structure/screenshot1.jpg" /></a>
              </div>
            </li>
          </ul>
        </div>