<div class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <button class="demo-menu material-icons mdc-toolbar__icon--menu"><a href="/" style="text-decoration:none; color: #fff;"><img src="/assets/img/tyler-material-logo.png" height="32" width="32"></a></button>
            <span class="mdc-toolbar__title catalog-title"><a href="/" style="text-decoration:none; color: #fff;">Munis Pattern Library</a></span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                <span style="margin-right: 30px;font-size: 13px;">Version 2.0</span>
        </section>
    </div>
</div>