<nav class="mdc-permanent-drawer" style="background-color: #fafafa; border: 0px; z-index: 1; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);">
    <div class="mdc-list-group" style="margin-top: 23px;">
        <nav class="mdc-list">
            <ul class="mdc-list">
                    <a class="mdc-list-item" href="/autocomplete">
                        <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">autorenew</i>Autocomplete
                    </a>
                <a class="mdc-list-item" href="/buttons">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">add_circle_outline</i> Buttons
                </a>
                <a class="mdc-list-item" href="/buttontoggles">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">remove_circle_outline</i> Button Toggles
                </a>
                <a class="mdc-list-item" href="/card">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">view_agenda</i> Card
                </a>
                <a class="mdc-list-item" href="/checkbox">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">check_box</i> Checkbox
                </a>
                <a class="mdc-list-item" href="/chips">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">view_agenda</i> Chips
                </a>
                <a class="mdc-list-item" href="/datatable">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">view_headline</i> Data Table
                </a>
                <a class="mdc-list-item" href="/datepicker">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">date_range</i> Date Picker
                </a>
                <a class="mdc-list-item" href="/dialog">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">featured_video</i> Dialog
                </a>
                <a class="mdc-list-item" href="/dropdownselect">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">touch_app</i> Dropdown Select
                </a>
                <a class="mdc-list-item" href="/expansionpanel">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">expand_more</i> Expansion Panel
                </a>
                <a class="mdc-list-item" href="/gridlist">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">grid_on</i> Grid List
                </a>
                <a class="mdc-list-item" href="/structure">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">assignment</i> Layout & Structure
                </a>
                <a class="mdc-list-item" href="/linearprogress">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">linear_scale</i> Linear Progress
                </a>
                <a class="mdc-list-item" href="/list">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">list</i> List
                </a>
                <a class="mdc-list-item" href="/radio">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">radio_button_checked</i> Radio
                    Buttons
                </a>
                {{!-- <a class="mdc-list-item" href="/ripple">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">swap_calls</i> Ripple
                </a> --}}
                <a class="mdc-list-item" href="/simplemenu">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">menu</i> Simple Menu
                </a>
                <a class="mdc-list-item" href="/slider">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">timelapse</i> Slider
                </a>
                <a class="mdc-list-item" href="/snackbar">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">local_dining</i> Snackbar
                </a>
                <a class="mdc-list-item" href="/switch">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">switch_camera</i> Switch
                </a>
                <a class="mdc-list-item" href="/tabs">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">bluetooth</i> Tabs
                </a>
                <a class="mdc-list-item" href="/textfield">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">text_format</i> Text Field
                </a>
                <a class="mdc-list-item" href="/toolbars">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">web_asset</i> Toolbar
                </a>
                <a class="mdc-list-item" href="/typography">
                    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">font_download</i> Typography
                </a>

            </ul>
        </nav>
    </div>
</nav>