<div class="panels">
    <div class="panel active" id="panel-1" role="tabpanel" aria-hidden="false">
        {{> (guidelines) }}
    </div>
    <div class="panel" id="panel-2" role="tabpanel" aria-hidden="true">
        {{> (screenshots) }}
    </div>
    <div class="panel" id="panel-3" role="tabpanel" aria-hidden="true">
        {{> (examples) }}
    </div>
</div>