<div class="mdc-toolbar__row">
        <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <nav id="dynamic-tab-bar" class="mdc-tab-bar mdc-tab-bar--indicator-accent" role="tablist" style="border-bottom: 1px solid rgba(0,0,0,.12); width: 1110px;">
                <a role="tab" aria-controls="panel-1" class="mdc-tab mdc-tab--active" href="#panel-1">Guidelines</a>
                <a role="tab" aria-controls="panel-2" class="mdc-tab" href="#panel-2">Screenshots</a>
                <a role="tab" aria-controls="panel-3" class="mdc-tab" href="#panel-3">Examples</a>
                <span class="mdc-tab-bar__indicator"></span>
            </nav>
        </div>
    </div>