<!DOCTYPE html>
<html class="mdc-typography">

<head>
    <title>Munis Pattern Library</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.8/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="mdc-typography demo-body">
    {{>header}}
    <div class="demo-content mdc-toolbar-fixed-adjust">
        {{>leftnav}}
        <main class="demo-main">
            <div class="demo-viewer">
                
                    {{#if pageTitle}}
                    <h1 class="guidelines-h1">{{pageTitle}}</h1>
                    {{>tabs}}
                    {{/if}}
                    
                    {{{body}}}
                
                </div>
        </main>
        </div>

        <script src="//code.jquery.com/jquery-latest.js"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.8/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/js/tabs.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script>
            window.mdc.autoInit();
        </script>
</body>