<div class="guidelines">
<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Checkboxes allow the user to select multiple options from a set. If you have multiple options appearing in a
                list, you can preserve space by using checkboxes instead of on/off switches. If you have a single option,
                avoid using a checkbox and use an on/off switch instead.</p>
            <ul>
                <li>A checkbox can either be a primary action or a secondary action.</li>
                <li>Type: primary action/state</li>
                <li>Desktop checkboxes should appear only on hover and focus.</li>
            </ul>
        </div>

        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/checkbox/components_listcontrols_checkbox1.png" width="760" />
            <p>The checkbox is the primary action and the state indicator for the list item.</p>
        </div>
    </div>
</div>

<div id="spacer-no-line"></div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Type: secondary action</p>
            <p>Separate target</p>
            <p>When controlling a family of variables, consider using switches instead.</p>
        </div>

        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/checkbox/components_listcontrols_checkbox2.png" width="760" />
            <p>The checkbox is the secondary action for the list item.</p>
        </div>
    </div>
</div>
</div>