<div class="guidelines">
<p>Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.
</p>
<br />
<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Dialogs contain text and UI controls. They retain focus until dismissed or a required action has been taken.
                Use dialogs sparingly because they are interruptive.</p>
            <p>Some dialog types include:</p>
            <ul>
                <li>Alerts are urgent interruptions that inform about a situation and require acknowledgement.</li>
                <li>Simple menus display options for list items, whereas simple dialogs can provide details or actions about
                    a list item.</li>
                <li>Confirmation dialogs require users to explicitly confirm a choice.</li>
                <ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h4>Behavior</h4>
            <p>Dialogs should never be obscured, either by other elements or the screen edge. Dialogs always retain focus until
                dismissed or a required action has been taken.</p>
            <br />
            <h4>Full-screen dialogs (Mobile only)</h4>
            <p>Full-screen dialogs are best suited to complex tasks, or require an input method editor, as they group a series
                of tasks together before they can be saved.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs.png" width="360" />
        </div>
    </div>
</div>

<div id="spacer-no-line"></div>

<h2>Behavior</h2>
<h3>Beyond standard dialogs</h3>
<p>Dialogs are a sub-type of modal windows, and the examples covered here are for standard material system dialogs. (Other modal
    window constructions aren’t covered here because they have too much variation, such as branded buttons for purchasing
    flows, non-standard UI form elements, or unique layouts.)</p>
<br />

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Reduce interruption</h3>
            <p>Use dialogs sparingly because they are interruptive. Their sudden appearance forces users to stop their current
                task and focus on the dialog content. Not every choice, setting, or detail warrants interruption. Alternatives
                to dialogs include menus or inline expansion, both of which maintain the current context.</p>
            <br />

            <h3>Dialog prominence</h3>
            <p>Dialogs should never be obscured by other elements or appear partially on screen. Dialogs always retain focus
                until dismissed or a required action has been taken, such as choosing a setting.</p>
            <p>Dialogs should avoid</p>
            <ul>
                <li>Opening dialogs from within a dialog</li>
                <li>Containing scrolling content</li>
            </ul>
            <br />

            <h3>Full-screen dialog exception</h3>
            <p>Full-screen dialogs may open additional dialogs, such as pickers, because their design accommodates additional
                layers of material without significantly increasing the app’s perceived z-depth or visual noise.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_content1.png" width="360" /><br />
            <p>Example of dialog content</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen1.png" width="360" /><br />
            <p>Example of a full-screen dialog</p>
        </div>
    </div>
</div>

<div id="spacer-no-line"></div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Scrollable content exception</h3>
            <p>Some dialog content requires scrolling, such as lists of ringtones.</p>
            <ul>
                <li>For scrollable lists of options, the dialog title remains pinned to the top. This ensures that a selected
                    item remains visible with the title, regardless of the item’s position in the list.</li>
                <li>Otherwise, the title scrolls off with the content. Actions always remain in place when content scrolls.</li>
            </ul>
            <p>Dialogs are separate from the underlying parent material and do not scroll with it.</p>
            <h3>Displaying additional content</h3>
            <p>To disclose additional content in a dialog, do so using inline expansion within the content area. Or consider
                alternative components that are optimized for large amounts of content.</p>
            <br />
            <h3>Dismissing dialogs</h3>
            <p>Dialogs may be dismissed either by tapping outside of the dialog, or tapping the system back button (on Android).
                Alternatively, the user’s ability to dismiss a dialog may be disabled, so that one of the actions must be
                chosen before proceeding.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_1.png" width="760" /><br />
            <p>Make the dialog title fixed when viewing a scrollable list of options ensures that both the title and the selected
                item are simultaneously visible.</p>
        </div>
    </div>
</div>

<div id="spacer-no-line"></div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Scrollable content exception</h3>
            <p>Some dialog content requires scrolling, such as lists of ringtones.</p>
            <ul>
                <li>For scrollable lists of options, the dialog title remains pinned to the top. This ensures that a selected
                    item remains visible with the title, regardless of the item’s position in the list.</li>
                <li>Otherwise, the title scrolls off with the content. Actions always remain in place when content scrolls.</li>
            </ul>
            <br />
            <p>Dialogs are separate from the underlying parent material and do not scroll with it.</p>
            <br />
            <h3>Displaying additional content</h3>
            <p>To disclose additional content in a dialog, do so using inline expansion within the content area. Or consider
                alternative components that are optimized for large amounts of content.</p>
            <br />
            <h3>Dismissing dialogs</h3>
            <p>Dialogs may be dismissed either by tapping outside of the dialog, or tapping the system back button (on Android).
                Alternatively, the user’s ability to dismiss a dialog may be disabled, so that one of the actions must be
                chosen before proceeding.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_1.png" width="760" /><br />
            <p>Make the dialog title fixed when viewing a scrollable list of options ensures that both the title and the selected
                item are simultaneously visible.</p>
        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Alerts</h2>
<p>Alerts are urgent interruptions, requiring acknowledgement, that inform the user about a situation.</p>
<p>Disambiguation from Snackbars: Snackbars present optional information after an action, such as confirming the discarding
    of a draft. They often allow a user to undo an action just taken.</p>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Alerts without title bars</h3>
            <p>Most alerts don't need titles.</p>
            <p>They summarize a decision in a sentence or two by either:</p>
            <ul>
                <li>Asking a question (e.g. "Delete this conversation?")</li>
                <li>Making a statement related to the action buttons</li>
            </ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_alerts_1.png" width="360" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>The affirmative action text “Discard” clearly indicates the outcome of the decision.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_alerts_2.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Don't</p>
            <p>The dismissive action text “No” answers the question, but does not suggest what will happen afterwards. A better
                action pair would be an explicit “Cancel” and “Delete.”</p>

        </div>
    </div>
</div>

<div id="spacer-no-line"></div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Alerts with title bars</h3>
            <p>Use title bar alerts only for high-risk situations, such as the potential loss of connectivity. Users should
                be able to understand the choices based on the title and button text alone.</p>
            <p>If a title is required:</p>
            <ul>
                <li>Use a clear question or statement with an explanation in the content area, such as "Erase USB storage?".</li>
                <li>Avoid apologies, ambiguity, or questions, such as “Warning!” or “Are you sure?”</li>
            </ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_usage1.png" width="360" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>This dialog poses a specific question, concisely elaborates on its impact, and provides clear actions.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_alerts4.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Don't</p>
            <p>This dialog poses an ambiguous question and its scope of impact is unclear.</p>

        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Simple menus</h2>
<h3>Mobile and tablet only</h3>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Simple menus display options for list items, and they immediately commit choices upon selection. See Simple Menus
                for more details.</p>
            <br />
            <p>Disambiguation: Simple dialogs display detailed options for list items or provide related actions. Simple dialogs
                can display the same content as simple menus. However, simple menus are preferred because they are less disruptive
                to the user’s current context.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simplemenu1.png" width="360" /><br />
            <p>Examples of a simple menu</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simplemenu2.png" width="360" /><br />
        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Simple dialogs</h2>
<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Simple dialogs can provide additional details or actions about a list item. For example, they can display avatars,
                icons, clarifying subtext, or orthogonal actions (such as adding an account).</p>
            <br />
            <p>Touch mechanics:</p>
            <ul>
                <li>Choosing an option immediately commits the option and closes the menu</li>
                <li>Touching outside of the dialog, or pressing Back, cancels the action and closes the dialog</li>
            </ul><br />
            <h3>Reduce interruption</h3>
            <p>Simple dialogs are more interruptive than simple menus and should be used sparingly.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simple1.png" width="360" /><br />
            <p>Example of a simple dialog</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simple2.png" width="360" /><br />
            <p>On mobile, a dialog’s width is based on a multiple of a unit. That unit can be either:</p>
            <ul>
                <li>An increment</li>
                <li>A specific distance from the screen edge</li>
            </ul>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>No explicit cancel button</h3>
            <p>Simple dialogs do not have explicit buttons that accept or cancel an operation.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simple3.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Don't</p>
            <p>This simple dialog has an explicit “Cancel” button.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_simple4.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Don't</p>
            <p>This simple dialog has an explicit “Cancel” button.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Specifications</h3>
            <ul>
                <li>Row heights can vary in simple dialogs.</li>
                <li>Simple dialogs are displayed centered vertically and horizontally on the screen.</li>
                <li>The dialog's distance from the screen edge is at least 40dp on the left and right, and at least 24dp on the
                    top and bottom.</li>
                <li>The dialog's content is 24dp from the dialog edge.</li>
            </ul>
            <br />
            <h3>Avoid text wrapping</h3>
            <p>If any text in a simple menu wraps to another line, use a simple dialog instead.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_simple5.png" width="760" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>This simple dialog has varying row heights.</p>
        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Confirmation dialogs</h2>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Confirmation dialogs require users to explicitly confirm their choice before an option is committed. For example,
                users can listen to multiple ringtones but only make a final selection upon touching “OK.”</p>
            <p>Tapping “Cancel” in a confirmation dialog, or pressing “Back,” cancels the action, discards any changes, and
                closes the dialog.</p>
            <br />
            <h3>Avoid dialogs launching dialogs</h3>
            <p>Confirmation dialogs should avoid launching additional simple dialogs or simple menus, as they add complexity
                and appear to increase an app’s elevation. If they are needed to complete a task, consider using a full-screen
                dialog instead.
            </p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation1.png" width="360" /><br />
            <p>The ringtone choice in the following confirmation dialog will not be set until the user taps “OK.”</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation2.png" width="360" /><br />
            <p>Example of a confirmation dialog with controls positioned on the left side of text.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Confirm a single value</h3>
            <p>Confirmation dialogs can use layouts other than lists, such as a date picker, but remain focused on specifying
                a single value (picking the date, but not picking the time and date).</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation3.png" width="360" /><br />
            <p>The date choice is set by the user tapping a date and the “OK” button.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation4.png" width="360" /><br />
            <p>The user selects the hour by moving the clock hand and tapping “OK.”</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Cancel and confirmation buttons</h3>
            <p>Confirmation dialogs provide both an explicit confirmation button and explicit cancel button. Tapping the cancel
                button, Back button, or leaving the confirmation dialog will discard changes.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation5.png" width="360" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>Provide explicit confirmation and cancel buttons.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_confirmation6.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>A single dialog button makes the system Back action ambiguous: does Back cancel or confirm?</p>
        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Full-screen dialogs</h2>

<p><strong>Mobile only:</strong> Due to limited space, full-screen dialogs may be more appropriate for mobile devices than dialogs
    used on devices with larger screens.</p>
<br />

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Usage</h3>
            <p>Full-screen dialogs group a series of tasks (such as creating a calendar entry) before they may be committed
                or discarded. No selections are saved until “Save” is touched. Touching the “X” discards all changes and
                exits the dialog.</p>

            <p>Full-screen dialogs enable complex layouts, minimize the appearance of stacked sheets of material (dialogs above
                dialogs), and temporarily reset the app’s perceived elevation to a higher baseline. They allow tasks to launch
                simple menus or simple dialogs as part of a complex operation.</p>

            <p>Full-screen dialogs may be used for content or tasks that meet any of these criteria:</p>

            <ul>
                <li>The dialog includes components (like pickers or form fields) that require an input method editor (IME), such
                    as a keyboard.</li>
                <li>When changes are not saved in real time</li>
                <li>When there is no draft capability in the app</li>
                <li>When performing batch operations or queuing changes prior to submitting them</li>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen1 (2).png" width="360" /><br />
            <p>The full-screen dialog supports a simple dialog used to pick dates.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen2.png" width="360" /><br />
            <p>Date picker opened from full-screen dialog</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Actions</h3>
            <p>Place confirmation and dismissive actions for full-screen dialogs at the top of the screen.</p>
            <br />
            <h3>Confirmation</h3>
            <p>The confirmation action in the top right of the screen uses descriptive verbs, such as: save, send, share, update
                or create. Don’t use vague actions for confirming action, such as: done, ok or close.</p>
            <p>The confirmation action is disabled until all mandatory fields in the dialog are met.</p>
            <br />
            <h3>Discard</h3>
            <p>Both the discard action (the “X” at the top left of the screen) and the Back button close the full-screen dialog
                and discard changes.</p>
            <ul>
                <li>If no changes have been made, the dialog closes and no discard confirmation is required.</li>
                <li>If the user has made any changes, they are prompted to confirm the discard action.</li>
            </ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen3.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>Don’t use vague terms like “Close” for confirmation actions.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen8.png" width="360" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>Prompt users to confirm the discard action if they have made any changes.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Navigation</h3>
            <p>The “X” used in a full-screen dialog differs from an up arrow, which indicates the view’s state is constantly
                being saved. For example, an up arrow used in Settings indicates all changes are committed immediately without
                explicit confirmation or cancel actions.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen4.png" width="360" /><br />
            <p>The up arrow in this Settings example indicates that any changes will be immediately saved upon selection.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen5.png" width="360" /><br />
            <p>Touching the “X” in this Settings example will discard all changes. Changes will be saved only upon touching
                Save.
            </p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Titles</h3>
            <p>Full-screen dialog titles don’t use dynamic type.</p>

            <p>Titles should be succinct. They can wrap to a second line if necessary, and should then be truncated.</p>

            <p>If the full-screen dialog uses titles of variable length or anticipates long titles (for example, because certain
                words are longer in different languages), place title text in the content area of the dialog instead of the
                app bar.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen6.png" width="360" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>Avoid using titles of variable length in the app bar.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_fullscreen7.png" width="360" /><br />
            <div class="do"></div>
            <p class="do-text-color">Do</p>
            <p>Place long titles in the content area of the full-screen dialog.</p>
        </div>
    </div>
</div>

<div id="spacer"></div>

<h2>Specs</h2>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Dialogs contain content, actions, and an optional title.</p>
            <h3>Optional title</h3>
            <p>The title briefly describes the type of choice being made. Titles should always be displayed in their entirety
                and only used when necessary. For example, a title may indicate to which part of a task the dialog relates,
                or identify what will be affected by the decision.</p>

            <h3>Content</h3>
            <p>Dialog content typically consists of text and/or UI control elements. It is focused on a specific task, such
                as confirming item deletion or choosing a setting.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_usage2.png" width="760" /><br />
            <p>This dialog contains a title, content, and actions.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Actions</h3>
            <p>Dialogs present a focused and limited set of actions, which are generally affirmative or dismissive.</p>
            <ul>
                <li>Affirmative actions are placed on the right side and continue the process. Affirmative actions may be destructive,
                    like “Delete” or “Remove.”</li>
                <li>Dismissive actions are placed directly to the left of affirmative actions and return the user to the originating
                    screen or step in the process.</li>
                <li>Dismissive and affirmative action text can be “Cancel”/”OK” or specific active verbs or verb phrases that
                    indicate the outcome of the decision.</li>
            </ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_swapped_actions_16.png" width="760" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>Dismissive actions are always placed directly to the left of affirmative actions.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Dialog actions should present a clear choice directly related to the dialog’s title and content.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_swapped_actions_17.png" width="760" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>Avoid presenting users with ambiguous or unclear choices. In this example, “Cancel” doesn't make sense in relation
                to the title because there's no clear action being proposed.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Acknowledgement actions</h3>
            <p>In situations where users are required to acknowledge the dialog’s content to proceed, an alert may contain only
                one action. Use this type of alert sparingly as it is interruptive. Consider other methods of communicating
                the information to users, such as in-line with a view’s content.</p>

            <h3>Number of actions</h3>
            <p>Dialogs should not include more than two actions. A third action, such as “Learn more,” navigates away from the
                dialog, potentially leaving the task unfinished.</p>

            <p>Avoid using a “Learn more” action to access help documentation; in-line expansion within the dialog should be
                used instead. If more extensive information is needed, provide it prior to entering the dialog.</p>

        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_usage5.png" width="760" /><br />
            <div class="dont"></div>
            <p class="dont-text-color">Do</p>
            <p>The “Learn more” action navigates away from this dialog, leaving it in an indeterminate state.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Color</h3>
            <p>Dialog actions use system colors by default, but they should reflect your product's color palette. Use a contrasting
                color, such as the palette’s accent color, to distinguish dialog actions from dialog content.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Languages without capitalization</h3>
            <p>For languages without capitalization (such as Chinese, Japanese or Korean), it is important to maintain consistent
                placement, spacing, and colors for actions to distinguish them from regular text.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_consistent_placement1.png" width="760" /><br />
            <p>The consistent placement of actions and text color helps distinguish actions from regular text even when the
                affirmative action is disabled.</p>
            <br />

            <img src="assets/images/dialogs/components_dialogs_consistent_placement2.png" width="760" /><br />
            <p>Affirmative actions are more likely to be disabled until a choice is made. Dismissive actions are never disabled.</p>
            <br />
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Content guidelines</h3>
            <p>Padding around content area: 24dp</p>
            <p>Padding between title and body text: 20dp</p>
            <p>Padding around buttons: 8dp</p>
            <p>Button height: 36dp</p>
            <p>Action area height: 52dp</p>
            <p>Dialog elevation: 24dp</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_updates1.png" width="760" /><br />
            <p>Content padding</p>
            <br />
            <img src="assets/images/dialogs/components_dialogs_actions.png" width="760" /><br />
            <p>Within the content area, the 24dp of padding below the content helps separate it from the actions.</p>

            <p>Dialog content bottom padding: 24dp</p>
            <p>Button height: 36dp</p>
            <p>Button margin: 8dp</p>
            <br />
            <img src="assets/images/dialogs/components_dialogs_updates8.png" width="760" /><br />
            <p>Content padding for a dialog in a scrolled state</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Button width and padding</h3>
            <p>Button height: 36dp</p>
            <p>Minimum button width: 64dp</p>
            <p>Internal button padding: 8dp</p>
            <p>Padding between buttons: 8dp</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_updates2.png" width="760" /><br />
            <p>Detail of button widths and padding</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <p>Button height: 36dp</p>
            <p>Button area height: 52dp</p>
            <p>Left button padding: 24dp</p>
            <p>Right button padding: 8dp</p>
            <p>Padding between buttons: 8dp</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_updates3.png" width="760" /><br />
            <p>Detail of button area</p>
            <br />
            <img src="assets/images/dialogs/components_dialogs_consistent_placement3.png" width="760" /><br />
            <p>In a scrolled state, a stroke delineates the dialog’s content area from actions.</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Side-by-side buttons</h3>
            <p>Side-by-side buttons are recommended when the text of each label does not exceed the maximum button width, such
                as the commonly used OK/Cancel buttons.</p>
            <p>Use the following formula to calculate maximum button width for a given dialog: </p>
            <p>The maximum width for buttons in a dialog = </p>
            <p>(Dialog width - 8dp - 8dp - 8dp)/2 </p>
            <p>For example: </p>
            <p>The maximum width for buttons in a 280dp wide dialog = </p>
            <p>(280dp - 8dp - 8dp - 8dp)/2 = 128dpc</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_sidebyside.png" width="760" /><br />
            <p>Button height: 36dp</p>
            <p>Padding between text and action area: 24dp</p>
            <p>Padding around buttons is: 8dp</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Stacked full-width buttons</h3>
            <p>When text labels exceed the maximum button width, use stacked buttons to accommodate the text. Affirmative actions
                are stacked above dismissive actions.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_stacked.png" width="760" /><br />
            <p>Touchable target height for each button: 48dp</p>
            <p>Padding between text and touch target: 24dp</p>
            <p>Padding below touch target to dialog edge: 8dp</p>
            <p>Padding between button text right edge and dialog edge: 16dp</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Simple dialog keylines</h3>
            <p>Vertical keyline at 24dp from the left and right edges. Content associated with an icon or avatar aligns 80dp
                from the left edge.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_updates5.png" width="760" /><br />
            <p>Keylines for a simple dialog</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Simple dialog content guidelines</h3>
            <p>It is recommended that simple dialogs have titles, but titles can be omitted based on your product’s needs.</p>
            <h3>Title</h3>
            <ul>
                <li>Top padding: 24dp</li>
                <li>Bottom padding: 20dp</li>
                <li>Text size: Roboto Medium 20sp</li>
                <li>Text line height: 28dp</li>
            </ul>
            <h3>Content</h3>
            <ul>
                <li>Row height of single-line list with avatars: 56dp</li>
                <li>Bottom edge padding: 8dp</li>
            </ul>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_simple-redlines.png" width="760" /><br />
            <p>redlines for a simple dialog</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <h3>Full-screen dialog titles</h3>
            <p>Full-screen dialog titles can wrap to a second line if necessary, and then should be truncated. Titles should
                be succinct, but in some situations, such as when words are longer in different languages, titles may need
                to wrap.</p>
            <br />
            <p>App bar height with a single line of text: 56dp</p>
            <p>App bar height with two lines of text: 80dp</p>
            <p>Title text keyline: 72dp</p>
            <p>Title text: 20sp</p>
            <p>Title text top and bottom padding: 20dp</p>
            <p>Dismissive action padding from left edge: 16dp</p>
            <p>Affirmative action text: 14sp</p>
            <p>Affirmative action text padding on the left and right: 16dp</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <img src="assets/images/dialogs/components_dialogs_updates10.png" width="760" /><br />
            <p>Detail of a full-screen dialog app bar</p>
        </div>
    </div>
</div>

<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_updates11.png" width="360" /><br />
            <p>Full-screen dialog with an app bar containing a single line of text.</p>
        </div>
        <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <img src="assets/images/dialogs/components_dialogs_updates12.png" width="360" /><br />
            <p>Note that this image is for illustration purposes only. Long titles should be placed in the content area of the
                full-screen dialog.</p>
        </div>
    </div>
</div>
</div>