<div class="guidelines">
<div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
    <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>A linear progress indicator should always fill from 0% to 100% and never decrease in value. It should be
                    represented by bars on the edge of a header or sheet that appear and disappear.</p>
                <br /><br />

                <p>For multiple operations happening in sequence, use the indicator to represent the progress as a whole, and
                    not each individual operation.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <video width="760" height="580" controls>
                    <source src="assets/images/progressbar/components-progressactivity-typesofindicators-061101_Linear_Sheet_xhdpi_003.mp4" type="video/mp4">
                </video>
                <p>Linear progress indicators</p>
            </div>
        </div>
        </div>
        </div>