<div class="guidelines">
        <div class="guidelinesColumns">
            <div fxFlex="360px">
                <p>A linear progress indicator should always fill from 0% to 100% and never decrease in value. It should be
                    represented by bars on the edge of a header or sheet that appear and disappear.</p>
                <br /><br />

                <p>For multiple operations happening in sequence, use the indicator to represent the progress as a whole, and
                    not each individual operation.</p>
            </div>
            <div fxFlex="760px">
                <video width="720" height="580" controls>
                    <source src="assets/images/progressbar/components-progressactivity-typesofindicators-061101_Linear_Sheet_xhdpi_003.mp4" type="video/mp4">
                </video>
                <p>Linear progress indicators</p>
            </div>
        </div>
    </div>