<div class="guidelines">
    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection if
                    you think that the user needs to see all available options side-by-side.</p>
                <br />
                <p>Otherwise, consider a dropdown, which uses less space than displaying all options.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/radio/radio1.png" width="360" />
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Light</h3>
                <p>On: Swatch 500, Opacity 100%<br /> Off: #000000, Opacity 54%<br /> Disabled: #000000, Opacity 26%</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/radio/components_switches_radio3.png" width="760" /><br />
                <p>Light theme for radio buttons in hover, focused, pressed, disabled, and disabled focused states.</p>
            </div>
        </div>
    </div>

</div>