<div class="guidelines">
    <h2>UI Regions</h2>
    <p style="margin-left: 22px;">For guidance on arranging elements in z-space to achieve the correct behavior and shadows, see the Environment and Elevations
        and shadows sections.</p>
    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Mobile structure</h2>
                <p>This structure includes a permanent app bar and floating action button. An optional bottom bar can be added
                    for additional functionality or action overflow. Side nav menus overlay all other structural elements.</P>

            </div>


            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-regions-mobile.png" width="760" /><br />
                <p>Mobile structure</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Tablet structure</h2>
                <p>This structure shows a permanent app bar with a floating action button. The app bar absorbs elements from
                    the tablet and mobile bottom bars. An optional bottom bar can be added for additional functionality or
                    action overflow. A side nav overlays all other structural elements. A right nav menu can be accessed
                    temporarily or pinned for permanent display.</p>

            </div>


            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-regions-tablet.png" width="760" /><br />
                <p>Tablet structure</p>
                <p>Top left to right: Side nav, app bar/primary toolbar, content canvas (below the app bar/primary toolbar),
                    and right nav On the bottom: bottom bar</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Desktop structure</h2>
                <p>The desktop structure contains a permanent app bar with a floating action button. The app bar absorbs elements
                    from the tablet and mobile bottom bars. Where possible, the window controls are absorbed into the app
                    bar.
                </p>
                <p>Side navigation menus can take up the full height of the screen size (including under the app bar) and be
                    accessed temporarily or pinned for permanent display. Side nav menus, as well as the content canvas,
                    can have their own secondary toolbars for tabs, palettes, or secondary actions.</p>

            </div>


            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-regions-desktop.png" width="760" /><br />
                <p>Desktop structure</p>
                <p>Top left to right: App bar/primary toolbar</p>
                <p>Second row from left to right: Toolbar, secondary toolbar, and toolbar</p>
                <p>Third row from left to right: side nav, content canvas, and right nav</p>
                <p>On the bottom: floating action button</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>UI Regions</h2>
                <p>Define a primary horizontal or vertical divider.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance1.png" width="360" /><br />
                <p>Vertical divider</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance2.png" width="360" /><br />
                <p>Horizontal divider</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Avoid slicing up the interface into too many regions which can cause L shapes. Instead, use whitespace to
                    delineate secondary areas.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance3.png" width="360" /><br />
                <div class="do"></div>
                <p class="do-text-color">Do</p>
                <p>Use whitespace.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance4.png" width="360" /><br />
                <div class="dont"></div>
                <p class="dont-text-color">Don't</p>
                <p>Avoid creating too many regions.</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Break edges with cards and floating action buttons.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance5.png" width="360" /><br />
                <p>Card breaking an edge</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance6.png" width="360" /><br />
                <p>Floating action button breaking an edge</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Use cards to organize content when specific behaviors are needed or if groupings of information need more
                    separation than what whitespace or dividers can provide.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance7.png" width="360" /><br />
                <p>Cards</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-regions-guidance8.png" width="360" /><br />
                <p>Cards</p>
            </div>
        </div>
    </div>

    <div id="spacer"></div>

    <h2>Toolbars</h2>
    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Toolbars are versatile and can be used in many different ways.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-toolbars1.png" width="760" /><br />
                <p>Full-width, default height app bar</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars2.png" width="760" /><br />
                <p>Full-width, extended height app bar</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars3.png" width="760" /><br />
                <p>Column-width toolbars at multiple levels of hierarchy</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars4.png" width="760" /><br />
                <p>Flexible toolbar and card toolbar</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars5.png" width="760" /><br />
                <p>Floating toolbar</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars6.png" width="760" /><br />
                <p>Detached toolbar palette</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars7.png" width="760" /><br />
                <p>Bottom toolbar that launches to a shelf and clings to the top of the keyboard or other bottom component</p>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-toolbars8.png" width="760" /><br />
                <p>Bottom toolbar shelf</p>
            </div>
        </div>
    </div>

    <div id="spacer"></div>

    <h2>App bar</h2>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>The app bar, formerly known as the action bar in Android, is a special kind of toolbar that’s used for branding,
                    navigation, search, and actions.</p>
                <p>The nav icon at the left side of the app bar can be:</p>
                <ul>
                    <li>A control to open a navigation drawer</li>
                    <li>An up arrow for navigating upward through your app’s hierarchy</li>
                    <li>Omitted entirely if no navigation is required from this screen</li>
                </ul>
                <p>The title in the app bar reflects the current page. It can be an app title, page title, or a page filter.</p>
                <p>Icons on the right side of the app bar are app-related actions. The menu icon opens the overflow menu, which
                    contains secondary actions and menu items like help, settings, and feedback.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-appbar-structure1.png" width="760" /><br />
                <p>App bar structure</p>
                <p>On the left: Nav icon, title, and filter icon</p>
                <p>On the right: Action and menu icons</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure2.png" width="360" /><br />
                <p>Light</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure3.png" width="360" /><br />
                <p>Dark</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure4.png" width="360" /><br />
                <p>Colored</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure5.png" width="360" /><br />
                <p>Transparent</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Title color</h2>
                <p>In an app bar, all icons should be the same color.</p>
                <p>The title can have a distinct color from the icons if increased visual hierarchy is needed. Distinct title
                    colors work best on backgrounds with enough contrast for both white and black glyphs.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure6.png" width="360" /><br />
                <p>Single color (default)</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-structure7.png" width="360" /><br />
                <p>Distinct title color</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Metrics</h2>
                <h4>Default heights:</h4>
                <br />
                <p>Mobile Landscape: 48dp<br /> Mobile Portrait: 56dp<br /> Tablet/Desktop: 64dp</p>

                <p>For extended app bars, the height is equal to the default height plus content increment(s).</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-metrics1.png" width="360" /><br />
                <p>App bar height: 56dp<br /> App bar left and right padding: 16dp<br /> App bar icon top, bottom, left padding:
                    16dp
                    <br /> App bar title left padding: 72dp<br /> App bar title bottom padding: 20dp</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-metrics3.png" width="360" /><br />
                <p>The app bar with significantly increased height for prominence.<br /> App bar height: 128dp</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-metrics5.png" width="360" /><br />
                <p>Action area height: 56dp<br /> Title area height: 80dp<br /> Title area bottom padding: 8dp<br /> Description
                    area height: 72dp<br /> Description area bottom padding: 16dp</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-appbar-metrics7.png" width="760" /><br />
                <p>Incremental keyline is set by the app bar height, with a height of 64dp, which determines the keyline increment.</p>
                <p>App bar left and right content padding: 24dp<br /> App bar icon top and bottom padding: 20dp</P>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-appbar-metrics8.png" width="760" /><br />
                <p>Prominent app bar height: 128dp<br /> App bar left and right icon padding: 24dp<br /> App bar left content
                    padding: 80dp</P>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h4>Density</h4>
                <p>When the mouse and keyboard are the primary input methods, measurements may be condensed to accommodate denser
                    layouts.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/structure/layout-structure-appbar-metrics7-dense.png" width="760" /><br />
                <p>
                    <h4>Dense app bar on desktop</h4>
                </p>
                <p>App bar height: 48dp<br /> App bar left and right content padding: 24<br /> App bar left content padding:
                    80dp<br /> Icon height with touch target: 40dp</P>
                <br />
                <br />
                <img src="assets/images/structure/layout-structure-appbar-metrics8-dense.png" width="760" /><br />
                <p>
                    <h4>Dense prominent app bar</h4>
                </p>
                <p>Dense prominent app bar height: 96dp<br /> App bar left and right content padding: 24dp<br /> App bar left
                    content padding: 80dp</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Menus</h2>
                <p>A menu is a temporary sheet of paper that always overlaps the app bar, rather than behaving as an extension of the app bar.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-menu1.png" width="360" /><br />
                <p>Example of an app bar</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-appbar-menu2.png" width="360" /><br />
                <p>Example of menu in an app bar</p>
            </div>
        </div>
    </div>


    {{!-- <h2>System bars</h2>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h2>Status bar/window bar</h2>
                <p>On Android, the status bar contains notification icons and system icons. On Chrome, the top bar contains the window controls: minimize, full screen, and close. In a Chrome app, the top bar can disappear, and the window controls are then brought into the app bar.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-system-status1.png" width="360" /><br />
                <p>Android status bar</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/structure/layout-structure-system-status2.png" width="360" /><br />
                <p>Chrome window bar</p>
            </div>
        </div>
    </div> --}}

</div>