<div class="guidelines">
    <h2>Switch</h2>
    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>On/off switches toggle the state of a single settings option. The option that the switch controls, as well
                    as the state it’s in, should be made clear from the corresponding inline label. Switches take on the
                    same visual properties of the radio button.
                    <br /><br /> The on/off slide toggle with the text “on” and “off” included within the asset is deprecated.
                    Use the switch shown here instead.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/switch/components_switches_switch1.png" width="360" />
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Light</h3>
                <p>Thumb On: Swatch 500, Opacity 100% Track On: Swatch 500, Opacity 50%<br /> Thumb Off: Grey 50, #FAFAFA, Opacity
                    100%<br /> Track Off: #000000, Opacity 38%<br />
                    <br /> Thumb Disabled: Grey 400, #BDBDBD, Opacity 100% Track Disabled: #000000, Opacity 12%</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <img src="assets/images/switch/components_switches_switch3.png" width="760" /><br />
                <p>Light theme for switches in hover, focused, pressed, disabled, and disabled focused states.</p>
            </div>
        </div>
    </div>

    <div class="demo-grid mdc-layout-grid max-width mdc-layout-grid--align-left">
        <div class="mdc-layout-grid__inner">
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>Use the outer radial reaction only on form factors that favor finger touch, where interaction may obstruct the element completely. For desktop usage with a mouse, you do not need this extra indication.</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/switch/components_switches_switch5.png" width="360" /><br />
                <p>Radial reaction on mobile</p>
            </div>
            <div class="demo-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <img src="assets/images/switch/components_switches_switch6.png" width="360" /><br />
                <p>Radial reaction on desktop</p>
            </div>
        </div>
    </div>

</div>