<style media="screen">
      .mdc-theme--dark, .section-dark-theme {
        background: #262626;
        color: white;
      }
      .mdc-theme--dark > h2 {
        margin-top: 0;
      }
      /* Example of manually theming a checkbox. Note that this does not take JS-provided animations
         into account. */
      .mdc-theme--dark .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
      .section-dark-theme .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
      .mdc-theme--dark .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background,
      .section-dark-theme .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background
      {
        background-color: #64DD17;
        border-color: #64DD17;
      }
      .mdc-theme--dark .mdc-checkbox__background::before,
      .section-dark-theme .mdc-checkbox__background::before {
        background-color: #64DD17;
      }
      .mdc-theme--dark .mdc-checkbox__checkmark__path,
      .section-dark-theme .mdc-checkbox__checkmark__path {
        stroke: #262626 !important;
      }
      .mdc-theme--dark .mdc-checkbox__mixedmark,
      .section-dark-theme .mdc-checkbox__mixedmark {
        background-color: #262626;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="mdc-toolbar-fixed-adjust"></div>
      <section class="hero">
        <div class="mdc-checkbox">
          <input type="checkbox"
                 id="hero-checkbox"
                 class="mdc-checkbox__native-control"/>
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark"
                 viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark__path"
                    fill="none"
                    stroke="white"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
        </div>
        <label for="hero-checkbox" id="hero-checkbox-label">Checkbox</label>
      </section>

      <section class="example">
          <br />
          <br />
        <div>
          <div class="mdc-form-field">
            <div class="mdc-checkbox">
              <input type="checkbox"
                     id="basic-checkbox"
                     class="mdc-checkbox__native-control"/>
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                     viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark__path"
                        fill="none"
                        stroke="white"
                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
            </div>
            <label for="basic-checkbox">This is my checkbox</label>
          </div>
          <button type="button" onclick="this.parentElement.hasAttribute('dir') ? this.parentElement.removeAttribute('dir') : this.parentElement.setAttribute('dir', 'rtl');">Toggle RTL</button>
          <button type="button" onclick="document.querySelector('.mdc-form-field').classList.toggle('mdc-form-field--align-end');">Toggle Align End</button>
        </div>
        <div>
          <div class="mdc-form-field">
            <div class="mdc-checkbox mdc-checkbox--disabled">
              <input type="checkbox"
                     id="basic-disabled-checkbox"
                     class="mdc-checkbox__native-control"
                     disabled />
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                     viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark__path"
                        fill="none"
                        stroke="white"
                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
            </div>
            <label for="basic-disabled-checkbox">This is my disabled checkbox</label>
          </div>
          <div>
            <div class="mdc-form-field">
              <div class="mdc-checkbox">
                <input type="checkbox"
                       id="basic-indeterminate-checkbox"
                       class="mdc-checkbox__native-control"/>
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                       viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark__path"
                          fill="none"
                          stroke="white"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
              <label for="basic-indeterminate-checkbox">This is my indeterminate checkbox</label>
            </div>
            <script type="text/javascript">
              document.getElementById('basic-indeterminate-checkbox').indeterminate = true;
            </script>
          </div>
        </div>
      </section>
    </main>
    <script>
      (function(global) {
        'use strict';
        var MDCCheckbox = global.mdc.checkbox.MDCCheckbox;
        var MDCFormField = global.mdc.formField.MDCFormField;
        var checkbox = document.getElementById('mdc-js-checkbox');
        var checkboxInstance = new MDCCheckbox(checkbox);
        var formField = checkbox.parentElement;
        var formFieldInstance = new MDCFormField(formField);
        formFieldInstance.input = checkboxInstance;
        document.getElementById('make-ind').addEventListener('click', function() {
          checkboxInstance.indeterminate = true;
        });
        document.getElementById('toggle-disabled').addEventListener('click', function() {
          checkboxInstance.disabled = !checkboxInstance.disabled;
        });
      })(this);
    </script>