<style>
      fieldset {
        margin: 24px;
        margin-top: 0;
        margin-bottom: 16px;
      }
      fieldset .mdc-linear-progress {
        margin: 16px 0;
      }

      fieldset legend {
        display: block;
        padding: 16px;
        padding-top: 64px;
        padding-bottom: 24px;
      }

      .linear-progress-demo {
        margin: 64px;
      }
    </style>
  </head>
  <body>
    <main class="mdc-toolbar-fixed-adjust">

      <section class="hero">
        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
          <div class="mdc-linear-progress__buffering-dots"></div>
          <div class="mdc-linear-progress__buffer"></div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
        </div>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Linear Progress Indicators</legend>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Determinate</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Indeterminate</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress" data-buffer="true">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Buffer</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--reversed">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Reversed</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--reversed">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Indeterminate Reversed</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--reversed" data-buffer="true">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Buffer Reversed</figcaption>
          </figure>

          <figure class="linear-progress-demo">
            <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--accent">
              <div class="mdc-linear-progress__buffering-dots"></div>
              <div class="mdc-linear-progress__buffer"></div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
              <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
              </div>
            </div>
            <figcaption>Accent</figcaption>
          </figure>

        </fieldset>
      </section>

    </main>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>
      var determinates = document.querySelectorAll('.mdc-linear-progress');
      for (var i = 0, determinate; determinate = determinates[i]; i++) {
        const linearProgress = mdc.linearProgress.MDCLinearProgress.attachTo(determinate);
        linearProgress.progress = 0.5;
        if (determinate.dataset.buffer) {
          linearProgress.buffer = 0.75;
        }
      }
    </script>