    <main id="tabs-demo-main-section" class="mdc-toolbar-fixed-adjust">
      <section class="hero">
        <nav id="demo-tab-bar" class="mdc-tab-bar">
          <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
          <a class="mdc-tab" href="#two">Item Two</a>
          <a class="mdc-tab" href="#three">Three</a>
          <span class="mdc-tab-bar__indicator"></span>
        </nav>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Basic Tab Bar</legend>
          <nav id="basic-tab-bar" class="mdc-tab-bar">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">CSS-Only Tab Bar</legend>
          <nav class="mdc-tab-bar">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <div class="demo-tabs__scroller">
          <h2 class="mdc-typography--title demo-title">Tab Bar with Scroller</h2>
          <div id="tab-bar-scroller" class="mdc-tab-bar-scroller">
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
              <a class="mdc-tab-bar-scroller__indicator__inner material-icons" href="#" aria-label="scroll back button">
                navigate_before
              </a>
            </div>
            <div class="mdc-tab-bar-scroller__scroll-frame">
              <nav id="scrollable-tab-bar" class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs">
                <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                <a class="mdc-tab" href="#two">Item Two</a>
                <a class="mdc-tab" href="#three">Item Three</a>
                <a class="mdc-tab" href="#four">Item Four</a>
                <a class="mdc-tab" href="#five">Item Five</a>
                <a class="mdc-tab" href="#six">Item Six</a>
                <a class="mdc-tab" href="#seven">Item Seven</a>
                <a class="mdc-tab" href="#eight">Item Eight</a>
                <a class="mdc-tab" href="#nine">Item Nine</a>
                <span class="mdc-tab-bar__indicator"></span>
              </nav>
            </div>
            <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
              <a class="mdc-tab-bar-scroller__indicator__inner material-icons" href="#" aria-label="scroll forward button">
                navigate_next
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Icon Tab Labels</legend>
          <nav id="icon-tab-bar" class="mdc-tab-bar mdc-tab-bar--icon-tabs">
            <a class="mdc-tab mdc-tab--active" href="#recents">
              <i class="material-icons mdc-tab__icon" aria-label="Recents">phone</i>
            </a>
            <a class="mdc-tab" href="#favorites">
              <i class="material-icons mdc-tab__icon" aria-label="Favorites">favorite</i>
            </a>
            <a class="mdc-tab" href="#nearby">
              <i class="material-icons mdc-tab__icon" aria-label="nearby">person_pin</i>
            </a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">CSS-Only Icon Tab Labels</legend>
          <nav class="mdc-tab-bar mdc-tab-bar--icon-tabs">
            <a class="mdc-tab mdc-tab--active" href="#recents">
              <i class="material-icons mdc-tab__icon" aria-label="Recents">phone</i>
            </a>
            <a class="mdc-tab" href="#favorites">
              <i class="material-icons mdc-tab__icon" aria-label="Favorites">favorite</i>
            </a>
            <a class="mdc-tab" href="#nearby">
              <i class="material-icons mdc-tab__icon" aria-label="nearby">person_pin</i>
            </a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Icon &amp; Text Labels</legend>
          <nav id="icon-text-tab-bar" class="mdc-tab-bar mdc-tab-bar--icons-with-text">
            <a class="mdc-tab mdc-tab--with-icon-and-text mdc-tab--active" href="#recents">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">phone</i>
              <span class="mdc-tab__icon-text">Recents</span>
            </a>
            <a class="mdc-tab mdc-tab--with-icon-and-text" href="#favorites">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">favorite</i>
              <span class="mdc-tab__icon-text">Favorites</span>
            </a>
            <a class="mdc-tab mdc-tab--with-icon-and-text" href="#nearby">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">person_pin</i>
              <span class="mdc-tab__icon-text">Nearby</span>
            </a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">CSS-Only Icon &amp; Text Labels</legend>
          <nav class="mdc-tab-bar mdc-tab-bar--icons-with-text">
            <a class="mdc-tab mdc-tab--with-icon-and-text mdc-tab--active" href="#recents">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">phone</i>
              <span class="mdc-tab__icon-text">Recents</span>
            </a>
            <a class="mdc-tab mdc-tab--with-icon-and-text" href="#favorites">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">favorite</i>
              <span class="mdc-tab__icon-text">Favorites</span>
            </a>
            <a class="mdc-tab mdc-tab--with-icon-and-text" href="#nearby">
              <i class="material-icons mdc-tab__icon" aria-hidden="true">person_pin</i>
              <span class="mdc-tab__icon-text">Nearby</span>
            </a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
          <fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Primary Color Indicator</legend>
          <nav id="primary-indicator-tab-bar" class="mdc-tab-bar mdc-tab-bar--indicator-primary">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Primary Color Indicator - CSS-Only</legend>
          <nav class="mdc-tab-bar mdc-tab-bar--indicator-primary">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Accent Color Indicator</legend>
          <nav id="accent-indicator-tab-bar" class="mdc-tab-bar mdc-tab-bar--indicator-accent">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Accent Color Indicator - CSS-Only</legend>
          <nav class="mdc-tab-bar mdc-tab-bar--indicator-accent">
            <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
            <a class="mdc-tab" href="#two">Item Two</a>
            <a class="mdc-tab" href="#three">Three</a>
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar</legend>
          <div class="mdc-toolbar">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h2 class="mdc-toolbar__title">Title</h2>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                  <nav id="toolbar-tab-bar" class="mdc-tab-bar">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a>
                    <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar, CSS-Only</legend>
          <div class="mdc-toolbar">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Title</h1>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                  <nav class="mdc-tab-bar">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a>
                    <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar + primary indicator</legend>
          <div class="demo-note">
            <em>Note: Changing the toolbar's background color here so that the primary indicator can be visible</em>
          </div>
          <div class="mdc-toolbar mdc-theme--accent-bg">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Title</h1>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                  <nav id="toolbar-tab-bar-primary-indicator" class="mdc-tab-bar mdc-tab-bar--indicator-primary">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a> <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar + primary indicator, CSS-Only</legend>
          <div class="mdc-toolbar mdc-theme--accent-bg">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Title</h1>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                  <nav class="mdc-tab-bar mdc-tab-bar--indicator-primary">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a>
                    <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar + accent indicator</legend>
          <div class="mdc-toolbar">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Title</h1>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div>
                  <nav id="toolbar-tab-bar-accent-indicator" class="mdc-tab-bar mdc-tab-bar--indicator-accent">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a>
                    <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <legend class="mdc-typography--title">Within mdc-toolbar + accent indicator, CSS-Only</legend>
          <div class="mdc-toolbar">
            <div class="mdc-toolbar__row">
              <div class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-start">
                <h1 class="mdc-toolbar__title">Title</h1>
              </div>
              <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <div class="mdc-toolbar__section--table-style-wrapper">
                  <nav class="mdc-tab-bar mdc-tab-bar--indicator-accent">
                    <a class="mdc-tab mdc-tab--active" href="#one">Item One</a>
                    <a class="mdc-tab" href="#two">Item Two</a>
                    <a class="mdc-tab" href="#three">Item Three</a>
                    <span class="mdc-tab-bar__indicator"></span>
                  </nav>
                </div>
              </div>
          </div>
        </fieldset>
      </section>

    </main>